<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>
<body>
    <header></header>
    <main>
        <header id="header">
            <h1>첫 번째 글</h1>
        </header>
        <aside>
            <p><span class="nick-name">lyk</span></p>
            <p><a href="mailto:dbsrudwin@gmail.com">dbsrudwin@gmail.com</a></p>
            <p><time datetime="2023-01-01T00:00:00">2023-01-01</time></p>
            <p>#java</p>
        </aside>
        <section>
            <p>본문<br><br></p>

            <div>
                <form>
                    <label for="articleComment" hidden>댓글</label>
                    <textarea id="articleComment" placeholder="댓글을 입력해주세요."></textarea>
                    <button type="submit">쓰기</button>
                </form>

                <ul>
                    <li>
                        <div>
                            <time><small>2023-01-01</small></time>
                            <Strong>lyk</Strong>
                            <p>
                                댓글 내용입니다.
                            </p>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <div>
                            <time><small>2023-01-01</small></time>
                            <Strong>lyk</Strong>
                            <p>
                                댓글 내용입니다.
                            </p>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <div>
                            <time><small>2023-01-01</small></time>
                            <Strong>lyk</Strong>
                            <p>
                                댓글 내용입니다.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <nav class="page-pagination" role="navigation">
                <a class="page-previous" href="#">이전 글</a>
                <a class="page-next" href="#">다음 글</a>
            </nav>
        </section>
    </main>
    <footer id="footer"></footer>
</body>
</html>